@font-face {
  font-family: "JF Flat Regular";
  src: url(../fonts/JF-Flat-regular.eot);
  src: url(../fonts/JF-Flat-regular.eot?iefix#) format("embedded-opentype"),
    url("../fonts/JF-Flat-regular.svg?#JF Flat Regular") format("svg"),
    url(../fonts/JF-Flat-regular.woff) format(woff),
    url(../fonts/JF-Flat-regular.ttf) format(truetype);
  font-weight: bolder;
  font-style: normal;
}

:root {
  --white-col: #fff;
  --black-col: #000;
  --gray-col: #868686;
  --navy-col: #37306b;
  --purple-col: #66347f;
  --pink-col: #9e4784;
  --rosy-col: #d27685;
  --blue-col: #0dcaf0;
  /*! Light Colors */
  --light-w: #e7e6e6;
  --light-g: #d4d4d4;
  --light-na: #7e74c5;
  --light-pu: #c3a1d4;
  --light-pi: #c28cb2;
  --light-ro: #e2b9c0;
}

body {
  font-family: "JF Flat Regular", "Segoe UI", Tahoma, Geneva, verdana,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-col);
}

.custom-navbar {
  border-bottom: 2px solid var(--light-na);
  width: 100%;
  background-color: var(--white-col);
}

.custom-form-control,
.custom-btn {
  border: 2px solid var(--light-pu);
  box-shadow: none;
  border-radius: 2px;
  color: #868686;
  height: 38px;
  padding: 6px 16px 7px;
  transition: 0.3s;
}

.custom-btn {
  border-right: 0;
}

.custom-form-control:focus,
.custom-btn:focus {
  box-shadow: none;
  border: 2px solid var(--light-na);
}

.custom-btn:hover {
  background-color: var(--light-g);
  border-color: var(--light-na);
  color: var(--navy-col);
}

.custom-btn:focus {
  color: var(--navy-col);
  border-color: var(--gray-col);
}

.categories {
  border-right: 0 !important;
  border-radius: 0;
}

.custom-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0px var(--gray-col);
  color: #777;
}

.search-btn {
  background-color: var(--navy-col);
  border-color: var(--navy-col);
  color: var(--white-col);
  padding: 5px 15px 7px;
  height: 38px;
  width: 65px;
  border-radius: 0;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover {
  background-color: var(--light-na);
  color: var(--white-col);
  border-color: var(--light-na);
}

ul.nav-item .nav-link {
  color: var(--gray-col);
  padding: 15px;
}

.custom-navbar .navbar-nav li.active a.nav-link {
  color: var(--navy-col);
  font-weight: 700;
  border-bottom: 1px solid var(--navy-col);
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
  background-color: var(--light-g);
}

.custom-dropdown-menu li a:hover {
  background-color: var(--light-g);
  background-color: var(--light-pu);
}

.custom-navbar .btn-icon {
  padding: 5px 10px;
  color: var(--gray-col);
  border: 1px solid var(--light-g);
  background-color: transparent;
  border-radius: 2px;
}

#carousel-featured {
  background-color: var(--light-w);
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .product-details {
  border: 1px solid var(--light-pu);
  padding: 15px;
  position: relative;
  top: 50px;
  height: 200px;
  background-color: var(--light-g);
}

#carousel-featured .product-details h1 {
  font-weight: 700;
  font-size: 175%;
  margin-top: 18px;
}

#carousel-featured .product-details .product-category {
  border: 1px solid var(--light-pu);
  padding: 10px;
  position: absolute;
  top: -20px;
  right: -40px;
  background-color: var(--light-g);
}

.custom-btn-warning {
  color: var(--gray-col);
}

.custom-btn-warning:hover {
  color: var(--black-col);
}

.custom-btn-warning:hover,
.custom-btn-warning:active,
.custom-btn-warning:focus,
.custom-btn-warning:active:focus,
.custom-btn-warning:active:hover {
  color: var(--black-col);
  box-shadow: none;
}

.sale.large {
  height: 60px;
  width: 60px;
  left: -20px;
  top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  padding: 35px;
  line-height: 95%;
  transform: rotate(-25deg);
}

.custom-carousel-indicators {
  top: 235px;
  right: 42%;
}

.custom-carousel-indicators-primary {
  background-color: #ffffff8a !important;
  height: 65px !important;
  width: 65px !important;
  opacity: 1 !important;
  border: 2px solid var(--light-pi) !important;
  margin: 0 !important;
  border-radius: 6px;
  margin-right: 10px !important;
}

.custom-carousel-indicators-primary.active {
  border-color: var(--navy-col) !important;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
  color: var(--light-na);
  font-size: 38px;
  transition: 0.5s !important;
}

#stor-features {
  box-shadow: 0px 0px 15px var(--light-g);
  background-image: url(../images/bg_features.png);
  background-repeat: no-repeat;
  position: relative;
  top: -30px;
  background-size: auto 60%;
  background-color: var(--white-col);
  padding-bottom: 35px;
  padding-top: 25px;
  background-position: -10px -20px;
}

#stor-features .feature img {
  height: 40px;
  margin-bottom: 10px;
}

#stor-features .feature + .feature {
  border-right: 1px solid var(--light-g);
}

.heading {
  /* font-size: 24px; */
  margin-bottom: 25px;
}

.custom-thumbnail {
  border: 2px solid var(--light-g);
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-thumbnail:hover {
  border-color: var(--blue-col);
}

.custom-thumbnail h4 {
  font-size: 18px;
}

.custom-thumbnail img {
  height: 250px;
  width: 100%;
  max-width: 250px;
}

.overlay {
  background-color: #0dcaf065;
  height: 250px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.custom-thumbnail:hover .overlay {
  opacity: 1;
}

.add-to-card-btn {
  background-color: var(--white-col);
  color: var(--blue-col);
  font-weight: 700;
}

.custom-thumbnail .sale {
  background-color: var(--blue-col);
  color: var(--white-col);
  padding: 4px 8px;
  position: absolute;
  left: 16px;
  top: 14px;
}

.custom-thumbnail .sale::after {
  content: "-";
}

.custon-carousel-indicators2 {
  bottom: -70px !important;
}

.custon-carousel-indicators2 li {
  width: 13px !important;
  height: 13px !important;
  margin: 2px !important;
  background-color: var(--light-g) !important;
}

.custon-carousel-indicators2 li.active {
  background-color: var(--gray-col) !important;
}
